<!--<div class="slider">
  <div class="callbacks_container">
    <ul class="rslides" id="slider3">
      <li>
        <div class="slider-img1">
          <div class="dot">
            <div class="container">
              <div class="slider_banner_info_w3ls text-center">
                <h1 class="text-uppercase">Cafe & Bar</h1>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="slider-img2">
          <div class="dot">
            <div class="container">
              <div class="slider_banner_info_w3ls text-center">
                <h2 class="text-uppercase">Restaurant</h2>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="slider-img3">
          <div class="dot">
            <div class="container">
              <div class="slider_banner_info_w3ls text-center">
                <h4 class="text-uppercase">5 Star Hotel</h4>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>-->
<!--<ngb-carousel >
  <ng-template ngbSlide>
    <img class="carousel-inner" src="../../../../assets/images/4.jpg" alt="">
    <div class="banner-info-w3layouts">
      <div class="jumbotron text-center" >
        <h1>Title</h1>
        <span [innerHtml]="">Description</span>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="carousel-inner" src="../../../../assets/images/2.jpg" alt="">
    <div class="banner-info-w3layouts">
      <div class="jumbotron text-center" >
        <h1>Title</h1>
        <span [innerHtml]="">Description</span>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="carousel-inner" src="../../../../assets/images/5.jpg" alt="">
    <div class="banner-info-w3layouts">
      <div class="jumbotron text-center" >
        <h1>Title</h1>
        <span [innerHtml]="">Description</span>
      </div>
    </div>
  </ng-template>

</ngb-carousel>-->


<div *ngIf="settings.get('sliders').length < 1">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../../../assets/images/2.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Slider 1</h5>
        <p>This is slider 1 details</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../../assets/images/5.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Slider 2</h5>
        <p>This is slider 2 details</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../../assets/images/4.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Slider 3</h5>
        <p>This is slider 3 details</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>


<div *ngIf="settings.get('sliders').length > 0">
<div [id]="'carouselExampleIndicators' + settings.get('sliders').length " class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li *ngFor="let slider_ of settings.get('sliders'); let j = index" [attr.data-target]="'#carouselExampleIndicators' + settings.get('sliders').length" [attr.data-slide-to]="j" [ngClass]="j  === 0 ? 'active' : ''"></li>
  </ol>
  <div class="carousel-inner" >
    <div class="carousel-item" *ngFor="let slider of settings.get('sliders'); let i = index" [ngClass]="i  === 0 ? 'active' : ''" >
      <img class="d-block w-100" [src]="slider.url" alt="{{slider.title}}">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{slider.title}}</h5>
        <p [innerHtml]="slider.detail"></p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" [href]="'#carouselExampleIndicators' + settings.get('sliders').length" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" [href]="'#carouselExampleIndicators' + settings.get('sliders').length" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
