
<section id="slider" class="slider-element full-screen clearfix" style="background: url('assets/images/hero-image.jpg') center right no-repeat; background-size: cover; height: 500px;">
  <app-header></app-header>
  <div class="vertical-middle">
    <div class="container clearfix">

      <div class="emphasis-title dark">
        <h2 style="font-size: 40px; padding-top: 100px; line-height: 1.4; font-weight: 600; text-shadow: 1px 1px 1px rgba(0,0,0,0.5);">Dogs are not our whole Life,<br>But they make our Lives whole.</h2><br>
        <p class="t300" style="font-size: 16px; opacity: .7;">Nisl blandit adipisci gravida blandit soluta, explicabo orci, distinctio <br>duis unde provident suspendisse orci? Recusandae! Proident,<br>quos do mi cupidatat.</p>
        <!-- <a href="#" class="button button-large button-rounded noleftmargin">Join Us Now</a><span class="leftmargin-sm">+</span>
        <a href="#" class="button nobg noshadow"><i class="icon-gift" style="width: 40px; font-size: 40px; top: 10px;"></i></a>
        <br><em><small style="opacity: 0.4;">Every month a surprise gift*</small></em> -->

      </div>

    </div>
  </div>
</section>

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap notoppadding clearfix">
    
    <section id="services">
    <div class="section nomargin clearfix" style="background-color: #eef2f5;">
      <div class="container clearfix">

        <div class="heading-block center nobottomborder bottommargin topmargin-sm divcenter" style="max-width: 640px">
          <h3 class="nott font-secondary t400" style="font-size: 36px;">Services</h3>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum inventore consectetur dolorum, voluptatum possimus temporibus vel ab, nesciunt quod!</span>
        </div>

        <div class="row clearfix">
          <!-- Features colomns
          ============================================= -->
          <div class="row clearfix">
            <div class="col-lg-3 col-md-6 bottommargin-sm">
              <div class="feature-box media-box fbox-bg">
                <div class="fbox-media">
                  <a href="#"><img class="image_fade" src="assets/images/services/1.jpg" alt="Featured Box Image"></a>
                </div>
                <div class="fbox-desc noborder">
                  <h3 class="nott ls0 t600">Adopt a Dog<span class="subtitle t300 ls0">Globally parallel task premium infomediaries</span></h3>
                  <a href="#" class="button-link noborder color">Read More</a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 bottommargin-sm">
              <div class="feature-box media-box fbox-bg">
                <div class="fbox-media">
                  <a href="#"><img class="image_fade" src="assets/images/services/2.jpg" alt="Featured Box Image"></a>
                </div>
                <div class="fbox-desc noborder">
                  <h3 class="nott ls0 t600">Pet Nutritionists<span class="subtitle t300 ls0">Energistically visualize market-driven.</span></h3>
                  <a href="#" class="button-link noborder color">Read More</a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 bottommargin-sm">
              <div class="feature-box media-box fbox-bg">
                <div class="fbox-media">
                  <a href="#"><img class="image_fade" src="assets/images/services/3.jpg" alt="Featured Box Image"></a>
                </div>
                <div class="fbox-desc noborder">
                  <h3 class="nott ls0 t600">Find a pet Sitter<span class="subtitle t300 ls0">Enthusiastically iterate enabled portals after.</span></h3>
                  <a href="#" class="button-link noborder color">Read More</a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 bottommargin-sm">
              <div class="feature-box media-box fbox-bg">
                <div class="fbox-media">
                  <a href="#"><img class="image_fade" src="assets/images/services/4.jpg" alt="Featured Box Image"></a>
                </div>
                <div class="fbox-desc noborder">
                  <h3 class="nott ls0 t600">Health &amp; Well-being<span class="subtitle t300 ls0">Enthusiastically iterate enabled portals after.</span></h3>
                  <a href="#" class="button-link noborder color">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <section id="testi">
    <div class="container topmargin clearfix">
      <div class="row clearfix">
        <div class="col-lg-6">
          <div class="heading-block nobottomborder topmargin-sm nobottommargin">
            <h2 class="font-secondary ls1 nott t400">See What People Are Saying</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates deserunt facere placeat est animi, sunt?</span>
            <a href="#" class="button button-large button-rounded topmargin-sm noleftmargin">Join Us Now</a>
            <div class="line line-sm"></div>
          </div>
          <div class="row clearfix">
            <div class="col-md-4">
              
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div id="oc-testi" class="owl-carousel testimonials-carousel carousel-widget" data-nav="false" data-animate-in="slideInUp" data-animate-out="slideOutUp" data-autoplay="5000" data-loop="true" data-stage-padding="5" data-margin="10" data-items-sm="1" data-items-md="1" data-items-xl="1">

            <div class="oc-item">
              <div class="testimonial topmargin-sm">
                <div class="testi-image">
                  <a href="#"><img src="assets/images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                </div>
                <div class="testi-content">
                  <p>Ligula scelerisque, tempus dicta eros dolorum itaque fugit, tempore pellentesque, leo dolor, aenean, inceptos aptent nostra adipisci harum etiam explicabo.</p>
                  <div class="testi-meta">
                    John Doe &middot;
                    <span>XYZ Inc.</span>
                  </div>
                </div>
              </div>

              <div class="testimonial topmargin-sm">
                <div class="testi-image">
                  <a href="#"><img src="assets/images/testimonials/2.jpg" alt="Customer Testimonails"></a>
                </div>
                <div class="testi-content">
                  <p>Sint quae anim enim quaerat! Assumenda esse metus torquent, senectus similique tempor? Massa lacus a, dignissim sequi officiis, elementum non.</p>
                  <div class="testi-meta">
                    John Doe  &middot;
                    <span>XYZ Inc.</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="oc-item">
              <div class="testimonial topmargin-sm">
                <div class="testi-image">
                  <a href="#"><img src="assets/images/testimonials/3.jpg" alt="Customer Testimonails"></a>
                </div>
                <div class="testi-content">
                  <p>Placeat ultrices perferendis omnis consequat molestie quos pretium! Donec deserunt ratione ultrices laborum vehicula rutrum deserunt! Torquent officiis? Et occaecati.</p>
                  <div class="testi-meta">
                    John Doe &middot;
                    <span>XYZ Inc.</span>
                  </div>
                </div>
              </div>
              <div class="testimonial topmargin-sm">
                <div class="testi-image">
                  <a href="#"><img src="assets/images/testimonials/4.jpg" alt="Customer Testimonails"></a>
                </div>
                <div class="testi-content">
                  <p>Occaecat autem turpis mollis ac nam cubilia, culpa adipiscing per cubilia porta fugit numquam dignissim sequi. Aspernatur aliquip. Ornare molestias.</p>
                  <div class="testi-meta">
                    John Doe &middot;
                    <span>XYZ Inc.</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    </section>
 
  
  <section id="pro">

    <div class="section nomargin nobg clearfix">
      <div class="container clearfix">
        <div class="heading-block center nobottomborder divcenter" style="max-width: 640px">
          <h3 class="nott font-secondary t400" style="font-size: 36px;">Our Products</h3>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum inventore consectetur dolorum, voluptatum possimus temporibus vel.</span>
        </div>
        <div class="row topmargin clearfix">
          <div class="col-lg-5 d-none d-lg-block">
            <img src="assets/images/others/1.png" alt="Dogs">
          </div>
          <div class="col-lg-7 col-md-12">
            <div class="row clearfix">
              <div class="col-md-4 col-6">
                <div class="iproduct">
                  <div class="product-image noshadow">
                    <a href="#"><img class="image_fade" src="assets/images/products/1.jpg" alt="High-Heel Girl's Sandals"></a>
                  </div>
                  <div class="product-desc center">
                    <div class="product-title"><h3><a href="#">Natural Dog Food</a></h3></div>
                    <div class="product-price"><ins>$11.49</ins></div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-6">
                <div class="iproduct">
                  <div class="product-image noshadow">
                    <a href="#"><img class="image_fade" src="assets/images/products/2.jpg" alt="High-Heel Girl's Sandals"></a>
                  </div>
                  <div class="product-desc center">
                    <div class="product-title"><h3><a href="#">Dry Dog Food</a></h3></div>
                    <div class="product-price"><ins>$13.99</ins></div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-6">
                <div class="iproduct">
                  <div class="product-image noshadow">
                    <a href="#"><img class="image_fade" src="assets/images/products/3.jpg" alt="High-Heel Girl's Sandals"></a>
                  </div>
                  <div class="product-desc center">
                    <div class="product-title"><h3><a href="#">Canvas Dog Food</a></h3></div>
                    <div class="product-price"><ins>$14.49</ins></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </section>

    <section id="galla">


        <div class="section nobottommargin clearfix">
            <div class="heading-block center nobottomborder nobottommargin divcenter" style="max-width: 640px">
              <h3 class="nott font-secondary t400" style="font-size: 36px;">Gallery</h3>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum inventore consectetur dolorum, voluptatum possimus temporibus vel.</span>
            </div>
          </div>
      
          <div class="masonry-thumbs grid-6" data-big="3" data-lightbox="gallery">
            <a href="assets/images/gallery/1.jpg" data-lightbox="gallery-item"><img src="assets/images/gallery/thumbs/1.jpg" alt="Gallery Thumb 1"></a>
            <a href="assets/images/gallery/2.jpg" data-lightbox="gallery-item"><img src="assets/images/gallery/thumbs/2.jpg" alt="Gallery Thumb 2"></a>
            <a href="assets/images/gallery/3.jpg" data-lightbox="gallery-item"><img src="assets/images/gallery/thumbs/3.jpg" alt="Gallery Thumb 3"></a>
            <a href="assets/images/gallery/4.jpg" data-lightbox="gallery-item"><img src="assets/images/gallery/thumbs/4.jpg" alt="Gallery Thumb 4"></a>
            <a href="assets/images/gallery/5.jpg" data-lightbox="gallery-item"><img src="assets/images/gallery/thumbs/5.jpg" alt="Gallery Thumb 5"></a>
            <a href="assets/images/gallery/6.jpg" data-lightbox="gallery-item"><img src="assets/images/gallery/thumbs/6.jpg" alt="Gallery Thumb 6"></a>
            <a href="assets/images/gallery/7.jpg" data-lightbox="gallery-item"><img src="assets/images/gallery/thumbs/7.jpg" alt="Gallery Thumb 7"></a>
            <a href="assets/images/gallery/8.jpg" data-lightbox="gallery-item"><img src="assets/images/gallery/thumbs/8.jpg" alt="Gallery Thumb 8"></a>
            <a href="assets/images/gallery/9.jpg" data-lightbox="gallery-item"><img src="assets/images/gallery/thumbs/9.jpg" alt="Gallery Thumb 9"></a>
            <a href="assets/images/gallery/10.jpg" data-lightbox="gallery-item"><img src="assets/images/gallery/thumbs/10.jpg" alt="Gallery Thumb 10"></a>
            <a href="assets/images/gallery/11.jpg" data-lightbox="gallery-item"><img src="assets/images/gallery/thumbs/11.jpg" alt="Gallery Thumb 11"></a>
            <a href="assets/images/gallery/12.jpg" data-lightbox="gallery-item"><img src="assets/images/gallery/thumbs/12.jpg" alt="Gallery Thumb 12"></a>
            <a href="assets/images/gallery/13.jpg" data-lightbox="gallery-item"><img src="assets/images/gallery/thumbs/13.jpg" alt="Gallery Thumb 13"></a>
            <a href="assets/images/gallery/14.jpg" data-lightbox="gallery-item"><img src="assets/images/gallery/thumbs/14.jpg" alt="Gallery Thumb 14"></a>
            <a href="assets/images/gallery/15.jpg" data-lightbox="gallery-item"><img src="assets/images/gallery/thumbs/15.jpg" alt="Gallery Thumb 15"></a>
          </div>


    </section>

  


<section id="contact">

  <div class="content-wrap">

    <div class="container clearfix">

      <!-- Contact Form
      ============================================= -->
      <div class="col_half">

        <div class="fancy-title title-dotted-border">
          <h3>Send us an Email</h3>
        </div>

        <div class="contact-widget">

          <div class="contact-form-result"></div>

          <form class="nobottommargin" id="template-contactform" name="template-contactform" action="include/sendemail.php" method="post">

            <div class="form-process"></div>

            <div class="col_one_third">
              <label for="template-contactform-name">Name <small>*</small></label>
              <input type="text" id="template-contactform-name" name="template-contactform-name" value="" class="sm-form-control required" />
            </div>

            <div class="col_one_third">
              <label for="template-contactform-email">Email <small>*</small></label>
              <input type="email" id="template-contactform-email" name="template-contactform-email" value="" class="required email sm-form-control" />
            </div>

            <div class="col_one_third col_last">
              <label for="template-contactform-phone">Phone</label>
              <input type="text" id="template-contactform-phone" name="template-contactform-phone" value="" class="sm-form-control" />
            </div>

            <div class="clear"></div>

            <div class="col_two_third">
              <label for="template-contactform-subject">Subject <small>*</small></label>
              <input type="text" id="template-contactform-subject" name="template-contactform-subject" value="" class="required sm-form-control" />
            </div>

            <div class="col_one_third col_last">
              <label for="template-contactform-service">Services</label>
              <select id="template-contactform-service" name="template-contactform-service" class="sm-form-control">
                <option value="">-- Select One --</option>
                <option value="Wordpress">Wordpress</option>
                <option value="PHP / MySQL">PHP / MySQL</option>
                <option value="HTML5 / CSS3">HTML5 / CSS3</option>
                <option value="Graphic Design">Graphic Design</option>
              </select>
            </div>

            <div class="clear"></div>

            <div class="col_full">
              <label for="template-contactform-message">Message <small>*</small></label>
              <textarea class="required sm-form-control" id="template-contactform-message" name="template-contactform-message" rows="6" cols="30"></textarea>
            </div>

            <div class="col_full hidden">
              <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
            </div>

            <div class="col_full">
              <button name="submit" type="submit" id="submit-button" tabindex="5" value="Submit" class="button button-3d nomargin">Submit Comment</button>
            </div>

          </form>
        </div>

      </div><!-- Contact Form End -->

      <!-- Google Map
      ============================================= -->
      <div class="col_half col_last">

        <section id="google-map" class="gmap" style="height: 410px;"></section>

      </div><!-- Google Map End -->

      <div class="clear"></div>

      <!-- Contact Info
      ============================================= -->
      <div class="row clear-bottommargin">

        <div class="col-lg-3 col-md-6 bottommargin clearfix">
          <div class="feature-box fbox-center fbox-bg fbox-plain">
            <div class="fbox-icon">
              <a href="#"><i class="icon-map-marker2"></i></a>
            </div>
            <h3>Our Headquarters<span class="subtitle">Melbourne, Australia</span></h3>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 bottommargin clearfix">
          <div class="feature-box fbox-center fbox-bg fbox-plain">
            <div class="fbox-icon">
              <a href="#"><i class="icon-phone3"></i></a>
            </div>
            <h3>Speak to Us<span class="subtitle">(123) 456 7890</span></h3>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 bottommargin clearfix">
          <div class="feature-box fbox-center fbox-bg fbox-plain">
            <div class="fbox-icon">
              <a href="#"><i class="icon-skype2"></i></a>
            </div>
            <h3>Make a Video Call<span class="subtitle">CanvasOnSkype</span></h3>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 bottommargin clearfix">
          <div class="feature-box fbox-center fbox-bg fbox-plain">
            <div class="fbox-icon">
              <a href="#"><i class="icon-twitter2"></i></a>
            </div>
            <h3>Follow on Twitter<span class="subtitle">2.3M Followers</span></h3>
          </div>
        </div>

      </div><!-- Contact Info End -->

    </div>

  </div>


    
    </section>
  

<app-footer></app-footer>


